p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #dfded9;
}
header {
  background-color: #aa8892;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 30px;
    font-family: "Caveat", cursive;
  }
  nav {
    ul {
      list-style: none;
      padding: 0;
      margin: 10px 0 0 0;
      display: flex;
      justify-content: center;
      gap: 30px;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 1.1em;
        transition: color 0.2s;
      }
      a:hover {
        color: #bfa9ae;
      }
    }
  }
}

.intro {
  padding: 300px 200px;
  background-image: url("assets/img/assortment-handdrawn-colorful-fruits-vegetablesincluding-260nw-2471459681.png");
  background-size: 1800px;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  h1 {
    margin: 0px;
    font-size: 30px;
    font-family: "Caveat", cursive;
  }
}
.emotion {
  background-color: #bfa9ae;
  padding: 100px 200px;
  text-align: center;
  h1 {
    margin: 0px 200px;
    font-size: 30px;
    font-family: "Caveat", cursive;
  }
}
.step {
  background-image: url("assets/img/Kogebog_Logo_Splat.png");
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  text-align: center;
  display: flex;
  align-items: center;
  .step-text {
    padding: 100px 100px;
    h2 {
      font-size: 50px;
      font-family: "Caveat", cursive;
    }
    p {
      font-size: 24px;
    }
  }
}
.buy {
  padding: 100px 300px;
  text-align: center;
  h1 {
    font-size: 24px;
    font-family: "Caveat", cursive;
    background-color: #bfa9ae;
    border-radius: 25px;
    padding: 25px;
  }

  a {
    background-color: #aa8892;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    border-radius: 25px;
  }
  a:hover {
    background-color: #bfa9ae;
    color: #000;
  }
}
.mockup img {
  width: 600px;
  height: auto;
}

footer {
  background-color: #aa8892;
  padding: 0;
  margin: 10px 0 0 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
